spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/weather_db
    username: postgres
    password: password
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
  cache:
    type: none

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true