spring:
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

weather:
  processing:
    service:
      url: http://weather-processing:8081

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true